//-  scripts
script(type="text/javascript", src="assets/js/plugin-min.js")
//- script(type="text/javascript", src="assets/js/third_party/materialize_0.95.1/materialize_0.95.1_modified.min.js")
script(type="text/javascript", src="assets/js/third_party/materialize/bin/materialize.min.js")
script(type="text/javascript", src="assets/js/third_party/material-design-lite/material.min.js")
script(type="text/javascript", src="assets/js/third_party/wow/wow.min.js")
script(type="text/javascript", src="assets/js/third_party/angular/angular.min.js")
script(type="text/javascript", src="assets/js/custom.js")
script(type="text/javascript", src="assets/js/scripts.js")
script(type="application/ld+json").
  "@context" : "http://schema.org",
  "@type" : "Person",
  "name" : "Arthur Nascimento Assunção",
  "url": "http://arthurassuncao.com/",
  "description": "Arthur Assuncao - Desenvolvedor de sistemas.",
  "image": "http://arthurassuncao.com/assets/img/me256x256.png",
  "jobTitle": "Mestrado em Ciência da Computação",
  "affiliation": "Universidade de Ouro Preto",
  "sameAs" : [
       "https://www.facebook.com/arthurassuncao",
       "https://www.linkedin.com/in/arthurassuncao",
       "https://github.com/arthurassuncao",
       "https://plus.google.com/+ArthurAssuncao11"
  ]