// imports
@import "variables";
@import "gmail-scrollbars";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

object[type^="application/gas-events-uni"] {
    display: none;
}

html,
body {
    text-shadow: 0 0 #fff;
    text-rendering: optimizeLegibility;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.container {
    // padding: 0 1.5rem;
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

#conteudo{
    width: 100%;
}

.center{
    text-align: center;
}

.center-align{
    margin: 0 auto;
}

.promo-caption{
    font-size: 1.5em;
    line-height: 2em;
}

.promo-description{
    line-height: 1.5em;
}

.light{
    font-weight: 300;
}

.icon-block {
    padding: 0 15px;
}

#intro, #work, #team {
    padding-top: 4rem;
}

#index-banner {
    min-height: 662px;
    max-height: 884px;
    position: relative;
    background-color: $my-primary-color;
}

.typer{
    font-weight: 500;
}

.text_h {
    padding: 20% 0;
    font-size: 6.0em;
    font-weight: 100;
    color: white;
}

.brand-logo {
    position: relative;
    color: #fff;
    display: inline-block;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 100;
    padding: 0;
    letter-spacing: 7px;
}

.text_h2 {
    font-weight: 100;
    margin-bottom: 4%;
    line-height: 4.5rem;
}

.span_h2 {
    font-weight: 300;
    color: $my-primary-color;
}

.text_b, .text_b2 {
    color: $my-primary-color;
}

.in {
    font-weight: 400 !important;
    font-style: normal !important;
}

.promo i {
    color: $my-primary-color;
    font-size: 7rem;
    display: block;
}

.card-content a {
    color: $my-primary-color;
    &:hover {
        color: $my-primary-color;
    }
}

#work, #team {
    background: rgb(247, 247, 247);
}

.text_pink {
    color: #EF9A9A;
}

.white-text{
    color: white !important;
}

.grey-text, .gray-text{
    color: gray !important;
}

.blue-text{
    color: #2196f3 !important;
}

i.small {
    font-size: 2rem;
}

i.tiny {
    font-size: 1rem;
}

.brand-logo {
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 100;
    padding: 0;
    letter-spacing: 7px;
}

.footer-cv{
    font-weight: 300;
    margin-top: 10px;
    line-height: normal !important;
    background-color: transparent !important;
    font-size: 0.9em;
}

#social{
    a, a:hover{
        text-decoration: none;
    }
    h5{
        padding-top: 30px;
        padding-bottom: 10px;
        font-size: 1.5em;
    }
}

.navbar-item {
    font-size: 1.3rem;
    color: #FFF;
    letter-spacing: 2px;
    display: block;
    font-weight: 300;
    padding: 0px 15px;
    font-weight: 300;
}

.cd-headline.type {
    .cd-words-wrapper {
        vertical-align: top;
        overflow: hidden;
        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            bottom: auto;
            transform: translateY(-50%);
            height: 90%;
            width: 1px;
            background-color: #aebcb9;
        }
        &.waiting::after {
            -webkit-animation: cd-pulse 1s infinite;
            -moz-animation: cd-pulse 1s infinite;
            animation: cd-pulse 1s infinite;
        }
        &.selected {
            background-color: #FFF;
            &::after {
                visibility: hidden;
            }
            b {
                color: $my-primary-color;
            }
        }
    }
    b {
        visibility: hidden;
        &.is-visible {
            visibility: visible;
        }
    }
    i {
        position: absolute;
        visibility: hidden;
        &.in {
            position: relative;
            visibility: visible;
        }
    }
}

@-webkit-keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        opacity: 1;
    }

    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}


@-moz-keyframes cd-pulse {
    0% {
        -moz-transform: translateY(-50%) scale(1);
        opacity: 1;
    }

    40% {
        -moz-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }

    100% {
        -moz-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}


@keyframes cd-pulse {
    0% {
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }

    40% {
        transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }

    100% {
        transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 1200;
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(/img/status.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}

@media only screen and (max-width: 480px) {
    .text_h {
        padding: 15% 0;
        font-size: 5em;
        font-weight: 100;
        color: white;
    }
}

input, textarea {
    border-bottom: 1px solid #fff;
}

nav a.button-collapse {
    left: -25px;
}

.card-avatar {
    .waves-effect {
        text-align: center;
        margin-top: 20px;
    }
    img {
        height: 150px;
        width: 150px;
        border-radius: 75px;
    }
    .card-content {
        text-align: center;
    }
}

.card .card-content p {
    margin: 15px 0px;
}

.card-avatar .card-content {
    i {
        font-size: 1.5rem;
    }
    .card-title {
        line-height: 30px !important;
    }
}

.parallax-container {
    max-height: 450px;
    z-index: -1;
    overflow: hidden;
    img{
        min-width: 100%;
    }
}

footer {
    z-index: 1;
    // transform: translateY(30%);
    &.page-footer {
        margin-top: 0px !important;
        width: 100%;
    }
    .row {
        margin-bottom: 0;
    }
    &.footer{
        padding-bottom: 30px;
        padding-top: 0px;
        background-color: #212121 !important;
    }
}

#form-submit{
    i.material-icon{
        vertical-align: middle;
    }
}

#form-contact{
    h5{
        padding-top: 30px;
        padding-bottom: 10px;
        font-size: 1.5em;
    }
}

#btn-skill-more{
    i{
        vertical-align: top;
    }
    margin-bottom: 40px;
}

.space-bottom-0{
    padding-bottom: 0;
    margin-bottom: 0;
}

.cv-artigo_autor{
    &:after{
        content: "- ";
    }
    &:last-child:after{
        content: "";
    }
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.capitalize-first:first-letter {
  text-transform: uppercase;
}

// My style
@media only screen and (min-width: 0) {
    .text_h {
        font-size: 2.6em;
        transform: translateY(70%);
    }
    .text_b {
        font-size: 1.7em;
        margin-bottom: 10px;
        margin-top: 5px;
    }
    .text_b2 {
        font-size: 1.5em;
        margin-bottom: 10px;
        margin-top: 5px;
    }
    #social a {
        opacity: 1 !important;
        &:visited {
            opacity: 1 !important;
        }
    }
    .contact-email {
        clear: left;
    }
    //comentei agora
    #social {
        text-align: center;
        li {
            float: left;
            margin-right: 10px;
            width: 70px;
            text-align: center;
            i {
                width: 100%;
                text-align: center;
            }
        }
    }
    .fa-lattes-square {
        margin-left: 22px;
        margin-bottom: 4px;
        display: block;
    }
    .card-modal {
        width: 88%;
        max-width: 88%;
        .modal-content {
            display: -webkit-flex;
            /* Safari */
            -webkit-flex-direction: column;
            /* Safari 6.1+ */
            display: flex;
            flex-direction: column;
        }
    }
}

@media only screen and (min-width: 481px) {
    #index-banner{
        .text_h{
            transform: translateY(20%);
        }
    }
}

@media only screen and (min-width: 992px) {
    #index-banner{
        .text_h{
            transform: translateY(0%);
        }
    }
    .card-modal {
        width: 67%;
        max-width: 90%;
        .modal-content {
            display: block;
        }
    }
    #toast-container {
        top: 6%;
    }
    .fa-lattes-square {
        width: 27px !important;
        height: 27px !important;
        margin-left: auto;
        margin-bottom: auto;
        display: inline-block;
    }
    .text_h {
        font-size: 3.0em;
    }
    .text_b {
        font-size: 2.0em;
    }
    .text_b2 {
        font-size: 1.8em;
    }
    #social a {
        opacity: 0.8 !important;
        &:visited {
            opacity: 0.8 !important;
        }
    }
    .contact-email {
        clear: none;
    }
    // #social {
    //     text-align: left;
    //     li {
    //         float: none;
    //         margin-right: 10px;
    //         width: auto;
    //         text-align: left;
    //         i {
    //             width: auto;
    //             text-align: left;
    //         }
    //     }
    // }
}

@media only screen and (min-width: 1200px) {
    .text_h {
        font-size: 3.5em;
    }
    .text_b {
        font-size: 2.5em;
    }
    .text_b {
        font-size: 2.3em;
    }
    #social a {
        opacity: 0.8 !important;
        &:visited {
            opacity: 0.8 !important;
        }
    }
    .contact-email {
        clear: none;
    }
}

.center-lt-sm{
    text-align: center;
    margin: 0 auto;
}

.project-dialog-imgs{
    img{
        width: 100%;
    }
    padding-right: 0;
}

.project-dialog-desc{
    padding-left: 0;
    padding-right: 0;
}

@media only screen and (min-width: 601px){
    .container {
        width: 85%;
    }
    project{
        md-card-title-text .md-headline{
            font-size: 0.9em;
            color: #777;
        }
    }
    .project-dialog-imgs{
        padding-right: 12px;
        padding-left: 15px;
    }

    .project-dialog-desc{
        padding-left: 15px;
        padding-right: 12px;
    }
}

@media only screen and (min-width: 960px){
    .container {
        width: 85%;
    }
    .center-lt-sm{
        text-align: inherit;
        margin: inherit;
    }
    .project-dialog-imgs{
        overflow: auto;
        max-height: 55vh !important;
    }
    .project-dialog-desc{
        overflow: auto;
        max-height: 55vh !important;
    }
}

#skills {
    text-align: justify;
    hr {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #eeeeee;
    }
}

/* curriculo */

li.cv-item {
    margin-top: 10px;
}

.cv-instituicao, .cv-periodo {
    padding-bottom: 5px;
    color: gray;
}

/* Skills do curriculo */

li .skill-bar {
    margin-bottom: 10px;
}

.skill-grade {
    float: right;
    text-transform: capitalize;
    margin-right: 3px;
}

.skill-name {
    font-style: italic;
    text-transform: capitalize;
}

.skill-bar {
    position: relative;
    background: #d4d4d4;
    height: 7px;
    border-radius: 5px;
    border-left: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin-left: 0px !important;
    display: block;
    width: 100%;
}

.skill-value {
    height: 6px;
    /*margin: 2px 1px;*/
    // border-radius: 2px;
    background: $my-primary-color;
    position: absolute;
    box-shadow: 0px 0px 1px 1px rgba(33, 150, 243, 0.2);
}

#social a:hover {
    opacity: 1 !important;
}

.btn_skill_more {
    margin-top: 20px;
}

.card-reveal {
    text-align: justify;
    li p {
        margin-left: 8px;
    }
}

.card a {
    color: $my-primary-color;
    transition: color 0.3s ease;
    &:hover {
        color: #9acffa;
    }
}

.card-image img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.card {
    .card-content {
        padding: 10px;
    }
    &.tiny {
        height: 230px;
        .card-image {
            height: 130px;
        }
        .card-content {
            height: 100px;
        }
    }
    .card-content p {
        margin: 0px 0px 5px 0px;
    }
    > a {
        margin: 0px;
    }
}

.card-modal {
    background-color: white;
    max-height: 90%;
    padding-left: 15px;
    padding-right: 15px;
    p {
        padding-bottom: 10px;
    }
    > a.modal-close {
        position: absolute;
        right: 3px;
        z-index: 1002;
    }
}

.card-modal-date:before {
    content: " — ";
}

.card-modal-image {
    overflow: auto;
    height: 100%;
    -webkit-order: 1;
    order: 1;
    img {
        max-width: 100%;
    }
}

.card-modal-content {
    overflow: auto;
    height: 100%;
    -webkit-order: 0;
    order: 0;
}

.card-modal-title {}

ul.card-modal-specs {
    margin-top: 5px;
    margin-bottom: 10px;
    li {
        display: inline;
        &:nth-child(n+2):before {
            content: " • ";
        }
    }
}

.card-modal-role {
    font-weight: 500;
}

.card-modal-description {}

.card-modal-visit {
    margin-top: 10px;
}

.cv-paper-title a, .award-name a {
    i {
        opacity: 0.4;
        transition: color .3s ease-in-out;
    }
    &:hover i {
        opacity: 1;
        color: $my-primary-color;
    }
}

.hyphens-auto {
    hyphens: auto;
}

.menu_left_side {
    float: left;
    height: 130px;
    vertical-align: middle;
    position: fixed;
    z-index: 1000;
    color: lightgray;
    top: 100px;
    vertical-align: middle;
    ul li:nth-child(n+2) {
        margin-top: 12px;
    }
    li.active {
        color: black;
    }
}

.tiny-force {
    font-size: 1rem !important;
}

.microtiny {
    font-size: 0.7rem !important;
}

.skill-name-icon {
    vertical-align: top;
    color: gray;
}

.vertical-text {
    writing-mode: tb-lr;
    -ms-writing-mode: tb-lr;
    /* old syntax. IE */
    -webkit-writing-mode: vertical-lr;
    -moz-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    /* new syntax */
    transform: rotate(180deg);
    /*margin-bottom: 20px;*/
}

.footer-copyright {
    margin-top: 10px;
    line-height: normal !important;
    background-color: transparent !important;
}

.foto {
    margin-top: 40px !important;
}

.circular {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: url(../img/me256x256.png) no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    background-size: 100% 100%;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.form-hidden-fields {
    display: none;
    visibility: hidden;
}

.form-result-ok, .form-result-error {
    position: absolute;
    top: 0;
    display: none;
}

.form-result-ok h5, .form-result-error h5 {
    color: #F5F5F5;
    opacity: 0.5;
}

md-input-container.md-default-theme .md-input, md-input-container .md-input {
    border-color: rgba(255,255,255,1);
}

#form-message, #form-name, #form-email{
    color: white;
}

a:hover {
    .fa-facebook-square, .fa-facebook-text {
        color: #3b5998 !important;
    }
    .fa-github-square, .fa-github-text {
        color: #333 !important;
    }
    .fa-linkedin-square, .fa-linkedin-text {
        color: #007bb5 !important;
    }
    .fa-google-plus-square, .fa-google-plus-text {
        color: #dd4b39 !important;
    }
    .fa-angellist, .fa-angellist-text{
      color: #000 !important;
    }
    .fa-lattes-square {
        color: #637fbd;
        background: url(../img/icones/icon_lattes_hover.png) no-repeat;
    }
    .fa-lattes-text{
        color: #637fbd;
    }
}

.fa-facebook-square, .fa-facebook-text {
    transition: color .3s ease-in-out;
}
.fa-github-square, .fa-github-text {
    transition: color .3s ease-in-out;
}
.fa-linkedin-square, .fa-linkedin-text {
    transition: color .3s ease-in-out;
}
.fa-angellist, .fa-angellist-text{
  transition: color .3s ease-in-out;
}
.fa-google-plus-square, .fa-google-plus-text {
    transition: color .3s ease-in-out;
}

.fa-lattes-square-preload {
    background: url(../img/icones/icon_lattes_hover.png) no-repeat -9999px -9999px;
}

.fa-lattes-square {
    background: url(../img/icones/icon_lattes.png) no-repeat;
    width: 27px;
    height: 27px;
    margin-top: 2px;
    // vertical-align: text-bottom;
    transition: background .3s ease-in-out;
}

.fa-lattes-text{
    transition: color .3s ease-in-out;
}

.esconde {
    display: none;
    visibility: hidden;
}

/*#social li{
        width:50%;
        float:left;
        display:inline;
        margin-bottom: 10px;
}
#social .footer-copyright{
        float: left;
        margin: auto;
}*/

// Material design lite
.navbar, .navbar-side{
    position: fixed;
}

.navbar{
    div{
        margin: auto;
    }
    .row{
        padding: 0px;
    }
}

#navbar{
    a.active, a:active, a:hover{
        background-color: $my-bgcolor-menu-active;
    }
    a{
        transition: background-color .3s ease-out;
    }
    ul{
        display: flex;
    }
}

.nav-shadow{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.prefix{
    float: left;
    left: -40px;
    bottom: 4px;
    position: relative;
}

form{
    button, .prefix{
        color: $my-color-form;
    }
}

.icon-large{
    font-size: 32px;
}

.btn-large{
    width: 150px;
}

.capitalize{
    text-transform: capitalize;
}

.justify{
    text-align: justify;
}

google-map{
    height: 300px;
}

//toolbar navbar
md-toolbar{
    &#nav_f{
        position: fixed;
        z-index: 9999;
        left: 0;
        // max-width: 94vw; //mobile
    }
    #navbar{
        height: 100%;
        a{
            padding-top: 22px; //refazer de outra forma depois
            padding-bottom: 21px;
            &:hover{
              text-decoration: none;
              color: #fff;
            }
        }
    }
    .brand-logo{
      &:hover{
        text-decoration: none;
        color: #fff;
      }
    }
}

.md-toolbar-tools h1{
    margin: 0px;
}

// secao meu trabalho
// intro
#intro{
    padding-top: 10px;
    padding-bottom: 20px;
}

#work{
    padding-bottom: 20px;
}

// secao projetos
.md-card-image{
    max-width: 328px;
    height: 172px;
    margin: 0 auto;
}

md-card md-card-title {
    padding: 8px 16px 8px;
}

md-card{
    cursor: pointer;
}

project{
    margin: 5px;
    md-card-title-text .md-headline{
        font-size: 1.1em;
        i{
            vertical-align: sub;
        }
    }
    md-card{
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16) , 0 2px 10px 0 rgba(0,0,0,.12);
    }
    md-card:hover{
        box-shadow: 0 4px 7px 0 rgba(0,0,0,.16) , 0 4px 12px 0 rgba(0,0,0,.12);
    }
}

.btn-send{
    i{
        vertical-align: sub;
    }
}

strong{
    font-weight: 500;
}

em{
    font-style: italic;
}

//secao technologies
#technologies{
    padding-top: 90px;
    padding-bottom: 100px;
    background-color: $my-primary-color;
    color: white;
    z-index: 1;
    position: relative;

    i{
        color: white;
    }

    div{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.divider{
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
}

a{
    text-decoration: none;
    color: $my-primary-color;
    &:hover{
        text-decoration: none;
        color: darken($my-primary-color, 25%);
    }
}

.cv-section-title{
    font-size: 1.4rem;
    line-height: 1.804rem;
    margin: 0.82rem 0px 0.656rem;
    font-weight: 400;
}

.cv-item{
    span{
        line-height: 1.4em;
    }
}

ul.skills{
    li{
        margin-bottom: 15px;
    }
}

//secao technology
.technology-icon{
    img{
        // width: 220px;
        height: 150px;
    }
}

.project-dialog-content{
    line-height: 1.4em;
    p{
        padding-bottom: 10px;
    }
}

//navbar-right
#navbar-right{
    overflow: hidden;
    li{
        padding: 20px 0;
        &:hover{
            background-color: lightgray !important;
            cursor: pointer;
        }
    }
    a.navbar-right-item{
        padding: 20px 0;
        padding-right: 100%;
    }
}

body > md-toast{
    position: fixed;
}

// Ensino
.ensino{
  md-toolbar{
    background-color: #fff;
    color: #555;
    padding-top: 15px;
  }
  .md-toolbar-tools{
    font-size: 24px;
  }
}

.ensino-mais-info{
  padding-bottom: 20px;
  .infos{
    div{
      padding-left: 15px;
    }
    span{
      line-height: 2em;
    }
  }
}

md-list-item.ensino-disciplinas-item{
  padding-left: 35px;
  &:hover{
    background-color: lighten($my-primary-color, 41%);
  }
}

.ensino-disciplinas-semestre-text{
  float: right;
}

.ensino-disciplina{
  padding-top: 100px;
  padding-bottom: 50px;
}

.ensino-disciplina-conteudo{
  margin-top: 30px;
  &.tabela{
    border: 1px solid lightgray;
    border-radius: 10px;

    .ensino-disciplina-conteudo-item{
      border-top: 1px solid lightgray;
      border-bottom: 1px solid lightgray;

      &:hover{
        background-color: lighten($my-primary-color, 41%);
      }
      &.item-header{
        background-color: $my-primary-color;
        color: white;
      }
      &:last-child, &:first-child{
        border: 0px;
      }
      &.prova{
        background-color: $my-warn-color;
        color: $my-warn-color-text;
        &:hover{
          background-color: darken($my-warn-color, 10%);
        }
      }
    }
  }
}
