<div>
  <span ng-show="{{ plano_aula != undefined }}"><a href="{{ ::plano_aula }}">Programa da Disciplina</a><br /></span>
  <span><a href="/assets/files/ensino/calendarios/2016/calendario2016.pdf">Calendário 2016</a></span><br />
  <span>Horário de Aulas: <a href="/assets/files/ensino/horarios/2016/horario_2016-1versao4.pdf">Técnicos Integrado e Subsequente</a></span><br />
  <span>Contate-me: <a href="mailto:arthur.assuncao@ifsudestemg.edu.br">arthur.assuncao@ifsudestemg.edu.br</a></span><br />
  <span>Horários de Atendimento: Quintas de 9:00 às 11:00 e Sextas 13:00 às 16:00</span>
</div>
