<span class="paper">
    <span class="cv-paper-title">
        <a href="{{ url }}" title="{{ title }}">
            <strong>{{ title }}</strong>
            <i class="fa fa-link"></i>
        </a>
    </span>
    <br/>
    <span class="cv-paper-authors">
        <em>
            <span class="cv-artigo_autor" ng-repeat="author in split(authors) track by $index">
                <span ng-if="$index == author_main-1">
                    <strong>{{ author }}</strong>
                </span>
                <span ng-if="$index != author_main-1">
                    {{ author }}
                </span>
            </span>
        </em>
    </span>
    <br/>
    <span class="cv-paper-event">Em: {{ conf_journal }}, {{ year }}, {{ local }}. {{ qualis }}</span>
</span>