<md-dialog aria-label="name" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ project.name }}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog">
            <i class="fa fa-close"></i>
          </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="row">
        <div flex="50" layout="row" layout-wrap layout-padding layout-margin class="project-dialog-imgs">
          <img ng-repeat="img in split(project.imgs)" src="{{ img ? img : '' }}" alt="{{ project.name }}" flex="100"/>
        </div>
        <div flex="50">
          <div class="card-modal-role center"><span>{{ project.type }}</span> <span class="card-modal-date">{{ project.datestart }} - {{ project.dateend }}</span></div>
          <div>
            <ul class="card-modal-specs grey-text text-darken-0">
              <li ng-repeat="tech in split(project.technologies)">{{tech}}</li>
            </ul>
          </div>
          <div>{{ project.description }}</div>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button href="{{ project.url }}" target="_blank" md-autofocus class="lowercase capitalize-first">
        {{ project.urlname}}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>