<div>
    <md-tooltip md-direction="bottom">
      <span class="capitalize">{{ name }}</span>: {{ msg }}
    </md-tooltip>

    <span class="myskill">
        <span class="skill_name">{{ name }} 
            <i class="tiny microtiny skill-name-icon material-icons">info_outline</i>
        </span>
        <span class="skill_grade">{{ generate_level(value) }}</span>
        <br/>
        <span class="col-md-11 skill">
            <span data-skillbar="{{ value }}" class="skill_bar"></span>
        </span>
    </span>
</div>