@charset "UTF-8";
/* Gmail style scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 2px;
}

::-webkit-scrollbar-track {
  border-width: 0;
}

::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px;
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}

::-webkit-scrollbar-track:horizontal {
  border-width: 4px 0 0;
}

::-webkit-scrollbar-track:hover {
  background-color: rgba(33, 150, 243, 0.05);
  -webkit-box-shadow: inset 1px 0 0 rgba(33, 150, 243, 0.1);
          box-shadow: inset 1px 0 0 rgba(33, 150, 243, 0.1);
}

::-webkit-scrollbar-track:horizontal:hover {
  -webkit-box-shadow: inset 0 1px 0 rgba(33, 150, 243, 0.1);
          box-shadow: inset 0 1px 0 rgba(33, 150, 243, 0.1);
}

::-webkit-scrollbar-track:active {
  background-color: rgba(33, 150, 243, 0.05);
  -webkit-box-shadow: inset 1px 0 0 rgba(33, 150, 243, 0.14), inset -1px 0 0 rgba(33, 150, 243, 0.07);
          box-shadow: inset 1px 0 0 rgba(33, 150, 243, 0.14), inset -1px 0 0 rgba(33, 150, 243, 0.07);
}

::-webkit-scrollbar-track:horizontal:active {
  -webkit-box-shadow: inset 0 1px 0 rgba(33, 150, 243, 0.14), inset 0 -1px 0 rgba(33, 150, 243, 0.07);
          box-shadow: inset 0 1px 0 rgba(33, 150, 243, 0.14), inset 0 -1px 0 rgba(33, 150, 243, 0.07);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(33, 150, 243, 0.2);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
  padding: 100px 0 0;
  -webkit-box-shadow: inset 1px 1px 0 rgba(33, 150, 243, 0.1), inset 0 -1px 0 rgba(33, 150, 243, 0.07);
          box-shadow: inset 1px 1px 0 rgba(33, 150, 243, 0.1), inset 0 -1px 0 rgba(33, 150, 243, 0.07);
}

::-webkit-scrollbar-thumb:horizontal {
  border-width: 6px 1px 1px;
  padding: 0 0 0 100px;
  -webkit-box-shadow: inset 1px 1px 0 rgba(33, 150, 243, 0.1), inset -1px 0 0 rgba(33, 150, 243, 0.07);
          box-shadow: inset 1px 1px 0 rgba(33, 150, 243, 0.1), inset -1px 0 0 rgba(33, 150, 243, 0.07);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(33, 150, 243, 0.4);
  -webkit-box-shadow: inset 1px 1px 1px rgba(33, 150, 243, 0.25);
          box-shadow: inset 1px 1px 1px rgba(33, 150, 243, 0.25);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(33, 150, 243, 0.5);
  -webkit-box-shadow: inset 1px 1px 3px rgba(33, 150, 243, 0.35);
          box-shadow: inset 1px 1px 3px rgba(33, 150, 243, 0.35);
}

::-webkit-scrollbar-track {
  border-width: 0 1px 0 6px;
}

::-webkit-scrollbar-track:horizontal {
  border-width: 6px 0 1px;
}

::-webkit-scrollbar-track:hover {
  background-color: rgba(33, 150, 243, 0.035);
  -webkit-box-shadow: inset 1px 1px 0 rgba(33, 150, 243, 0.14), inset -1px -1px 0 rgba(33, 150, 243, 0.07);
          box-shadow: inset 1px 1px 0 rgba(33, 150, 243, 0.14), inset -1px -1px 0 rgba(33, 150, 243, 0.07);
}

::-webkit-scrollbar-thumb {
  border-width: 0 1px 0 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  border-width: 6px 0 1px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

body::-webkit-scrollbar-track-piece {
  background-clip: padding-box;
  background-color: #f5f5f5;
  border: solid #fff;
  border-width: 0 0 0 3px;
  -webkit-box-shadow: inset 1px 0 0 rgba(33, 150, 243, 0.14), inset -1px 0 0 rgba(33, 150, 243, 0.07);
          box-shadow: inset 1px 0 0 rgba(33, 150, 243, 0.14), inset -1px 0 0 rgba(33, 150, 243, 0.07);
}

body::-webkit-scrollbar-track-piece:horizontal {
  border-width: 3px 0 0;
  -webkit-box-shadow: inset 0 1px 0 rgba(33, 150, 243, 0.14), inset 0 -1px 0 rgba(33, 150, 243, 0.07);
          box-shadow: inset 0 1px 0 rgba(33, 150, 243, 0.14), inset 0 -1px 0 rgba(33, 150, 243, 0.07);
}

body::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 5px;
}

body::-webkit-scrollbar-thumb:horizontal {
  border-width: 5px 1px 1px;
}

body::-webkit-scrollbar-corner {
  background-clip: padding-box;
  background-color: #f5f5f5;
  border: solid #fff;
  border-width: 3px 0 0 3px;
  -webkit-box-shadow: inset 1px 1px 0 rgba(33, 150, 243, 0.14);
          box-shadow: inset 1px 1px 0 rgba(33, 150, 243, 0.14);
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

object[type^="application/gas-events-uni"] {
  display: none;
}

html,
body {
  text-shadow: 0 0 #fff;
  text-rendering: optimizeLegibility;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

#conteudo {
  width: 100%;
}

.center {
  text-align: center;
}

.center-align {
  margin: 0 auto;
}

.promo-caption {
  font-size: 1.5em;
  line-height: 2em;
}

.promo-description {
  line-height: 1.5em;
}

.light {
  font-weight: 300;
}

.icon-block {
  padding: 0 15px;
}

#intro, #work, #team {
  padding-top: 4rem;
}

#index-banner {
  min-height: 662px;
  max-height: 884px;
  position: relative;
  background-color: #2196f3;
}

.typer {
  font-weight: 500;
}

.text_h {
  padding: 20% 0;
  font-size: 6.0em;
  font-weight: 100;
  color: white;
}

.brand-logo {
  position: relative;
  color: #fff;
  display: inline-block;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 100;
  padding: 0;
  letter-spacing: 7px;
}

.text_h2 {
  font-weight: 100;
  margin-bottom: 4%;
  line-height: 4.5rem;
}

.span_h2 {
  font-weight: 300;
  color: #2196f3;
}

.text_b {
  color: #2196f3;
}

.in {
  font-weight: 400 !important;
  font-style: normal !important;
}

.promo i {
  color: #2196f3;
  font-size: 7rem;
  display: block;
}

.card-content a {
  color: #2196f3;
}
.card-content a:hover {
  color: #2196f3;
}

#work, #team {
  background: #f7f7f7;
}

.text_pink {
  color: #EF9A9A;
}

.white-text {
  color: white !important;
}

.grey-text {
  color: gray !important;
}

.blue-text {
  color: #2196f3 !important;
}

i.small {
  font-size: 2rem;
}

i.tiny {
  font-size: 1rem;
}

.brand-logo {
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 100;
  padding: 0;
  letter-spacing: 7px;
}

.footer-cv {
  font-weight: 300;
  margin-top: 10px;
  line-height: normal !important;
  background-color: transparent !important;
  font-size: 0.9em;
}

#social a, #social a:hover {
  text-decoration: none;
}
#social h5 {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 1.5em;
}

.navbar-item {
  font-size: 1.3rem;
  color: #FFF;
  letter-spacing: 2px;
  display: block;
  font-weight: 300;
  padding: 0px 15px;
  font-weight: 300;
}

.cd-headline.type .cd-words-wrapper {
  vertical-align: top;
  overflow: hidden;
}
.cd-headline.type .cd-words-wrapper::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 90%;
  width: 1px;
  background-color: #aebcb9;
}
.cd-headline.type .cd-words-wrapper.waiting::after {
  -webkit-animation: cd-pulse 1s infinite;
  animation: cd-pulse 1s infinite;
}
.cd-headline.type .cd-words-wrapper.selected {
  background-color: #FFF;
}
.cd-headline.type .cd-words-wrapper.selected::after {
  visibility: hidden;
}
.cd-headline.type .cd-words-wrapper.selected b {
  color: #2196f3;
}
.cd-headline.type b {
  visibility: hidden;
}
.cd-headline.type b.is-visible {
  visibility: visible;
}
.cd-headline.type i {
  position: absolute;
  visibility: hidden;
}
.cd-headline.type i.in {
  position: relative;
  visibility: visible;
}

@-webkit-keyframes cd-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}
@keyframes cd-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
            transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
            transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 1200;
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(/img/status.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}

@media only screen and (max-width: 480px) {
  .text_h {
    padding: 15% 0;
    font-size: 5em;
    font-weight: 100;
    color: white;
  }
}
input, textarea {
  border-bottom: 1px solid #fff;
}

nav a.button-collapse {
  left: -25px;
}

.card-avatar .waves-effect {
  text-align: center;
  margin-top: 20px;
}
.card-avatar img {
  height: 150px;
  width: 150px;
  -webkit-border-radius: 75px;
          border-radius: 75px;
}
.card-avatar .card-content {
  text-align: center;
}

.card .card-content p {
  margin: 15px 0px;
}

.card-avatar .card-content i {
  font-size: 1.5rem;
}
.card-avatar .card-content .card-title {
  line-height: 30px !important;
}

.parallax-container {
  max-height: 450px;
  z-index: -1;
  overflow: hidden;
}
.parallax-container img {
  min-width: 100%;
}

footer {
  z-index: 1;
}
footer.page-footer {
  margin-top: 0px !important;
  width: 100%;
}
footer .row {
  margin-bottom: 0;
}
footer.footer {
  padding-bottom: 30px;
  padding-top: 0px;
  background-color: #212121 !important;
}

#form-submit i.material-icon {
  vertical-align: middle;
}

#form-contact h5 {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 1.5em;
}

#btn-skill-more {
  margin-bottom: 40px;
}
#btn-skill-more i {
  vertical-align: top;
}

.space-bottom-0 {
  padding-bottom: 0;
  margin-bottom: 0;
}

.cv-artigo_autor:after {
  content: "- ";
}
.cv-artigo_autor:last-child:after {
  content: "";
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.capitalize-first:first-letter {
  text-transform: uppercase;
}

@media only screen and (min-width: 0) {
  .text_h {
    font-size: 2.7em;
    -webkit-transform: translateY(70%);
        -ms-transform: translateY(70%);
            transform: translateY(70%);
  }

  .text_b {
    font-size: 1.7em;
    margin-bottom: 10px;
  }

  #social a {
    opacity: 1 !important;
  }
  #social a:visited {
    opacity: 1 !important;
  }

  .contact-email {
    clear: left;
  }

  #social {
    text-align: center;
  }
  #social li {
    float: left;
    margin-right: 10px;
    width: 70px;
    text-align: center;
  }
  #social li i {
    width: 100%;
    text-align: center;
  }

  .fa-lattes-square {
    margin-left: 22px;
    margin-bottom: 4px;
    display: block;
  }

  .card-modal {
    width: 88%;
    max-width: 88%;
  }
  .card-modal .modal-content {
    display: -webkit-flex;
    /* Safari */
    -webkit-flex-direction: column;
    /* Safari 6.1+ */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and (min-width: 481px) {
  #index-banner .text_h {
    -webkit-transform: translateY(20%);
        -ms-transform: translateY(20%);
            transform: translateY(20%);
  }
}
@media only screen and (min-width: 992px) {
  #index-banner .text_h {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
  }

  .card-modal {
    width: 67%;
    max-width: 90%;
  }
  .card-modal .modal-content {
    display: block;
  }

  #toast-container {
    top: 6%;
  }

  .fa-lattes-square {
    width: 27px !important;
    height: 27px !important;
    margin-left: auto;
    margin-bottom: auto;
    display: inline-block;
  }

  .text_h {
    font-size: 3.0em;
  }

  .text_b {
    font-size: 2.0em;
  }

  #social a {
    opacity: 0.8 !important;
  }
  #social a:visited {
    opacity: 0.8 !important;
  }

  .contact-email {
    clear: none;
  }
}
@media only screen and (min-width: 1200px) {
  .text_h {
    font-size: 3.5em;
  }

  .text_b {
    font-size: 2.5em;
  }

  #social a {
    opacity: 0.8 !important;
  }
  #social a:visited {
    opacity: 0.8 !important;
  }

  .contact-email {
    clear: none;
  }
}
.center-lt-sm {
  text-align: center;
  margin: 0 auto;
}

.project-dialog-imgs {
  padding-right: 15px;
}
.project-dialog-imgs img {
  width: 100%;
}

.project-dialog-desc {
  padding-left: 25px;
  padding-right: 12px;
}

@media only screen and (min-width: 960px) {
  .container {
    width: 70%;
  }

  .center-lt-sm {
    text-align: inherit;
    margin: inherit;
  }

  .project-dialog-imgs {
    overflow: auto;
    max-height: 55vh !important;
  }

  .project-dialog-desc {
    overflow: auto;
    max-height: 55vh !important;
  }
}
@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }

  project md-card-title-text .md-headline {
    font-size: 0.9em;
  }
}
#skills {
  text-align: justify;
}
#skills hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

/* curriculo */
li.cv-item {
  margin-top: 10px;
}

.cv-instituicao, .cv-periodo {
  padding-bottom: 5px;
  color: gray;
}

/* Skills do curriculo */
li .skill-bar {
  margin-bottom: 10px;
}

.skill-grade {
  float: right;
  text-transform: capitalize;
  margin-right: 3px;
}

.skill-name {
  font-style: italic;
  text-transform: capitalize;
}

.skill-bar {
  position: relative;
  background: #d4d4d4;
  height: 7px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border-left: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  margin-left: 0px !important;
  display: block;
  width: 100%;
}

.skill-value {
  height: 6px;
  /*margin: 2px 1px;*/
  background: #2196f3;
  position: absolute;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(33, 150, 243, 0.2);
          box-shadow: 0px 0px 1px 1px rgba(33, 150, 243, 0.2);
}

#social a:hover {
  opacity: 1 !important;
}

.btn_skill_more {
  margin-top: 20px;
}

.card-reveal {
  text-align: justify;
}
.card-reveal li p {
  margin-left: 8px;
}

.card a {
  color: #2196f3;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.card a:hover {
  color: #9acffa;
}

.card-image img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.card .card-content {
  padding: 10px;
}
.card.tiny {
  height: 230px;
}
.card.tiny .card-image {
  height: 130px;
}
.card.tiny .card-content {
  height: 100px;
}
.card .card-content p {
  margin: 0px 0px 5px 0px;
}
.card > a {
  margin: 0px;
}

.card-modal {
  background-color: white;
  max-height: 90%;
  padding-left: 15px;
  padding-right: 15px;
}
.card-modal p {
  padding-bottom: 10px;
}
.card-modal > a.modal-close {
  position: absolute;
  right: 3px;
  z-index: 1002;
}

.card-modal-date:before {
  content: " — ";
}

.card-modal-image {
  overflow: auto;
  height: 100%;
  -webkit-order: 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.card-modal-image img {
  max-width: 100%;
}

.card-modal-content {
  overflow: auto;
  height: 100%;
  -webkit-order: 0;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

ul.card-modal-specs {
  margin-top: 5px;
  margin-bottom: 10px;
}
ul.card-modal-specs li {
  display: inline;
}
ul.card-modal-specs li:nth-child(n+2):before {
  content: " • ";
}

.card-modal-role {
  font-weight: 500;
}

.card-modal-visit {
  margin-top: 10px;
}

.cv-paper-title a i, .award-name a i {
  opacity: 0.4;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}
.cv-paper-title a:hover i, .award-name a:hover i {
  opacity: 1;
  color: #2196f3;
}

.hyphens-auto {
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.menu_left_side {
  float: left;
  height: 130px;
  vertical-align: middle;
  position: fixed;
  z-index: 1000;
  color: lightgray;
  top: 100px;
  vertical-align: middle;
}
.menu_left_side ul li:nth-child(n+2) {
  margin-top: 12px;
}
.menu_left_side li.active {
  color: black;
}

.tiny-force {
  font-size: 1rem !important;
}

.microtiny {
  font-size: 0.7rem !important;
}

.skill-name-icon {
  vertical-align: top;
  color: gray;
}

.vertical-text {
  writing-mode: tb-lr;
  -ms-writing-mode: tb-lr;
  /* old syntax. IE */
  -webkit-writing-mode: vertical-lr;
  -moz-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  /* new syntax */
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  /*margin-bottom: 20px;*/
}

.footer-copyright {
  margin-top: 10px;
  line-height: normal !important;
  background-color: transparent !important;
}

.foto {
  margin-top: 40px !important;
}

.circular {
  width: 150px;
  height: 150px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: url(../img/me256x256.png) no-repeat;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  background-size: 100% 100%;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.form-hidden-fields {
  display: none;
  visibility: hidden;
}

.form-result-ok, .form-result-error {
  position: absolute;
  top: 0;
  display: none;
}

.form-result-ok h5, .form-result-error h5 {
  color: #F5F5F5;
  opacity: 0.5;
}

md-input-container.md-default-theme .md-input, md-input-container .md-input {
  border-color: white;
}

#form-message, #form-name, #form-email {
  color: white;
}

a:hover .fa-facebook-square {
  color: #3b5998 !important;
}
a:hover .fa-github-square {
  color: #333 !important;
}
a:hover .fa-linkedin-square {
  color: #007bb5 !important;
}
a:hover .fa-google-plus-square {
  color: #dd4b39 !important;
}
a:hover .fa-lattes-square {
  color: #637fbd;
  background: url(../img/icon_lattes_hover.png) no-repeat;
}

.fa-lattes-square-preload {
  background: url(../img/icon_lattes_hover.png) no-repeat -9999px -9999px;
}

.fa-lattes-square {
  background: url(../img/icon_lattes.png) no-repeat;
  width: 27px;
  height: 27px;
  margin-top: 2px;
  -webkit-transition: background .1s ease-in-out;
  transition: background .1s ease-in-out;
}

.esconde {
  display: none;
  visibility: hidden;
}

/*#social li{
        width:50%;
        float:left;
        display:inline;
        margin-bottom: 10px;
}
#social .footer-copyright{
        float: left;
        margin: auto;
}*/
.navbar, .navbar-side {
  position: fixed;
}

.navbar div {
  margin: auto;
}
.navbar .row {
  padding: 0px;
}

#navbar a.active, #navbar a:active, #navbar a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#navbar ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav-shadow {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.prefix {
  float: left;
  left: -40px;
  bottom: 4px;
  position: relative;
}

form button, form .prefix {
  color: #ffffff;
}

.icon-large {
  font-size: 32px;
}

.btn-large {
  width: 150px;
}

.capitalize {
  text-transform: capitalize;
}

.justify {
  text-align: justify;
}

google-map {
  height: 300px;
}

md-toolbar#nav_f {
  position: fixed;
  z-index: 9999;
  left: 0;
}
md-toolbar #navbar {
  height: 100%;
}
md-toolbar #navbar a {
  padding-top: 22px;
  padding-bottom: 21px;
}

.md-toolbar-tools h1 {
  margin: 0px;
}

#intro {
  padding-top: 10px;
  padding-bottom: 20px;
}

#work {
  padding-bottom: 20px;
}

.md-card-image {
  max-width: 328px;
  height: 172px;
  margin: 0 auto;
}

md-card md-card-title {
  padding: 8px 16px 8px;
}

md-card {
  cursor: pointer;
}

project {
  margin: 5px;
}
project md-card-title-text .md-headline {
  font-size: 1.1em;
}
project md-card-title-text .md-headline i {
  vertical-align: sub;
}
project md-card {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
project md-card:hover {
  -webkit-box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.16), 0 4px 12px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.16), 0 4px 12px 0 rgba(0, 0, 0, 0.12);
}

.btn-send i {
  vertical-align: sub;
}

strong {
  font-weight: 500;
}

em {
  font-style: italic;
}

#technologies {
  padding-top: 90px;
  padding-bottom: 100px;
  background-color: #2196f3;
  color: white;
  z-index: 1;
  position: relative;
}
#technologies i {
  color: white;
}
#technologies div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.divider {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
}

a {
  text-decoration: none;
  color: #2196f3;
}
a:hover {
  text-decoration: none;
}

.cv-section-title {
  font-size: 1.4rem;
  line-height: 1.804rem;
  margin: 0.82rem 0px 0.656rem;
  font-weight: 400;
}

.cv-item span {
  line-height: 1.4em;
}

ul.skills li {
  margin-bottom: 15px;
}

.technology-icon img {
  height: 150px;
}

.project-dialog-content {
  line-height: 1.4em;
}
.project-dialog-content p {
  padding-bottom: 10px;
}

#navbar-right {
  overflow: hidden;
}
#navbar-right li {
  padding: 20px 0;
}
#navbar-right li:hover {
  background-color: lightgray !important;
  cursor: pointer;
}
#navbar-right a.navbar-right-item {
  padding: 20px 0;
  padding-right: 100%;
}

body > md-toast {
  position: fixed;
}
