/* Gmail scrollbars*/
::-webkit-scrollbar{height:16px;overflow:visible;width:16px}::-webkit-scrollbar-button{height:0;width:0}::-webkit-scrollbar-track{background-clip:padding-box;border:solid transparent;border-width:0 1px 0 6px}::-webkit-scrollbar-track:horizontal:hover{box-shadow:inset 0 1px 0 rgba(33,150,243,.1)}::-webkit-scrollbar-track:active{background-color:rgba(33,150,243,.05);box-shadow:inset 1px 0 0 rgba(33,150,243,.14),inset -1px 0 0 rgba(33,150,243,.07)}::-webkit-scrollbar-track:horizontal:active{box-shadow:inset 0 1px 0 rgba(33,150,243,.14),inset 0 -1px 0 rgba(33,150,243,.07)}::-webkit-scrollbar-thumb{background-color:rgba(33,150,243,.2);background-clip:padding-box;border:solid transparent;min-height:28px;padding:100px 0 0;box-shadow:inset 1px 1px 0 rgba(33,150,243,.1),inset 0 -1px 0 rgba(33,150,243,.07);border-width:0 1px 0 6px}::-webkit-scrollbar-thumb:horizontal{padding:0 0 0 100px;box-shadow:inset 1px 1px 0 rgba(33,150,243,.1),inset -1px 0 0 rgba(33,150,243,.07);border-width:6px 0 1px}::-webkit-scrollbar-thumb:hover{background-color:rgba(33,150,243,.4);box-shadow:inset 1px 1px 1px rgba(33,150,243,.25)}::-webkit-scrollbar-thumb:active{background-color:rgba(33,150,243,.5);box-shadow:inset 1px 1px 3px rgba(33,150,243,.35)}::-webkit-scrollbar-track:horizontal{border-width:6px 0 1px}::-webkit-scrollbar-track:hover{background-color:rgba(33,150,243,.035);box-shadow:inset 1px 1px 0 rgba(33,150,243,.14),inset -1px -1px 0 rgba(33,150,243,.07)}::-webkit-scrollbar-corner{background:0 0}body::-webkit-scrollbar-track-piece{background-clip:padding-box;background-color:#f5f5f5;border:solid #fff;border-width:0 0 0 3px;box-shadow:inset 1px 0 0 rgba(33,150,243,.14),inset -1px 0 0 rgba(33,150,243,.07)}body::-webkit-scrollbar-track-piece:horizontal{border-width:3px 0 0;box-shadow:inset 0 1px 0 rgba(33,150,243,.14),inset 0 -1px 0 rgba(33,150,243,.07)}body::-webkit-scrollbar-thumb{border-width:1px 1px 1px 5px}body::-webkit-scrollbar-thumb:horizontal{border-width:5px 1px 1px}body::-webkit-scrollbar-corner{background-clip:padding-box;background-color:#f5f5f5;border:solid #fff;border-width:3px 0 0 3px;box-shadow:inset 1px 1px 0 rgba(33,150,243,.14)}

/* My style*/
@media only screen and (min-width: 0) {
    .text_h{
        font-size: 2.0em;
    }
    .text_b{
        font-size: 1.5em;
    }
    #social a, #social a:visited{
        opacity: 1 !important;
    }
    .contact-email{
        clear: left;
    }
    #social{
        text-align: center;
    }
    #social li{
        float: left;
        margin-right: 10px;
        width: 70px;
        text-align: center;
    }
    #social li i{
        width: 100%;
        text-align: center;
    }
    .fa-lattes-square{
        margin-left: 22px;
        margin-bottom: 4px;
        display: block;
    }
}
@media only screen and (min-width: 481px) {
    
}
@media only screen and (min-width: 992px) {
    .fa-lattes-square{
        width: 27px !important;
        height: 27px !important;
        margin-left: auto;
        margin-bottom: auto;
        display: inline-block;
    }
    .text_h{
        font-size: 3.0em;
    }
    .text_b{
        font-size: 2.0em;
    }
    #social a, #social a:visited{
        opacity: 0.8 !important;
    }
    .contact-email{
        clear: none;
    }
    #social{
        text-align: left;
    }
    #social li{
        float: none;
        margin-right: 10px;
        width: auto;
        text-align: left;
    }
    #social li i{
        width: auto;
        text-align: left;
    }
}
@media only screen and (min-width: 1200px) {
    .text_h{
        font-size: 3.5em;
    }
    .text_b{
        font-size: 2.5em;
    }
    #social a, #social a:visited{
        opacity: 0.8 !important;
    }
    .contact-email{
        clear: none;
    }
    #social{
        text-align: left;
    }
    #social li{
        float: none;
        margin-right: 0px;
        width: auto;
        text-align: left;
    }
    #social li i{
        width: auto;
        text-align: left;
    }
}
footer .row{
    margin-bottom: 0;
}
.footer{
    background-color: #212121 !important;
}
.parallax{
    z-index: 0;
}
#skills{
    text-align: justify;
}
#skills hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
}
/* curriculo */
li.curriculo_item{
    margin-top: 10px;
}
.curriculo_instituicao, .curriculo_periodo{
    padding-bottom: 5px;
    color: gray;
}
/* Skills do curriculo */
li .skill{
    margin-bottom: 10px;
}
.skill_grade{
    float: right;
    text-transform: capitalize;
    margin-right: 3px;
}
.skill_name{
    font-style: italic;
}
.skill{
    position: relative;
    background: #d4d4d4;
    height: 7px;
    border-radius: 5px;
    border-left: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin-left: 0px !important;
    display: block;
    width: 100%;
}
.skill_bar{
    height: 4px;
    /*margin: 2px 1px;*/
    border-radius: 2px;
    background: #2196F3;
    position: absolute;
    box-shadow: 0px 0px 10px 1px rgba(33,150,243, 0.4);
}
#social a:hover{
    opacity: 1 !important;
}
.btn_skills_more{
    margin-top: 20px;
}
.card-reveal{
    text-align: justify;
}
.card-reveal li p{
    margin-left: 8px;
}
.card a{
    color: #2196F3;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.card a:hover{
    color: #9acffa;
}
.card-image img{
    width: 100%;
    height: 100%;
}
.card .card-content{
    padding: 10px;
}
.card.tiny{
    height: 220px;
}
.card.tiny .card-image{
    height: 130px;
}
.card.tiny .card-content{
    height: 90px;
}
.card .card-content p{
    margin: 0px 0px 5px 0px;
}
/*.card .card-content .card-title{
    line-height: 30px;
}
.card .card-title{
    font-size: 20px;
}*/
.curriculo_artigo_titulo a i{
    opacity: 0.4;
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
    -moz-transition: color .3s ease;
    -o-transition: color .3s ease;
    -ms-transition: color .3s ease;
}
.curriculo_artigo_titulo a:hover i{
    opacity: 1;
    color: #2196F3;
}
.hyphens-auto {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
/*mudar cor do form*/
 /* label color */
.input-field label {
 color: #fff;
}
/* label focus color */
.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field textarea:focus + label{
 color: #fff;
}
/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field textarea:focus{
 border-bottom: 1px solid #fff;
 box-shadow: 0 1px 0 0 #fff;
}
/* valid color */
.input-field input[type=text].valid, .input-field input[type=email].valid, .input-field textarea.valid {
 border-bottom: 1px solid #fff;
 box-shadow: 0 1px 0 0 #fff;
}
/* invalid color */
.input-field input[type=text].invalid, .input-field input[type=email].invalid, .input-field textarea.invalid {
 border-bottom: 1px solid #fff;
 box-shadow: 0 1px 0 0 #fff;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #fff;
}
.menu_left_side {
    float: left;
    height: 100px;
    vertical-align: middle;
    position: fixed;
    z-index: 1000;
    color: lightgray;
    top: 100px;
    vertical-align: middle;
}
.menu_left_side ul li:nth-child(n+2){
    margin-top: 10px;
}
.menu_left_side li.active{
    color: black;
}
.microtiny{
    font-size: 0.7rem !important;
    vertical-align: top;
    color: gray;
}
.vertical-text {
    writing-mode:tb-lr;
    -ms-writing-mode: tb-lr; /* old syntax. IE */
    -webkit-writing-mode: vertical-lr;
    -moz-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    writing-mode: vertical-lr; /* new syntax */
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform:rotate(180deg);
    transform: rotate(180deg);
    /*margin-bottom: 20px;*/
}
.footer-copyright{
    margin-top: 10px;
    line-height: normal !important;
    background-color: transparent !important;
}
#nav_f.nav_shadow{
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0,0,0,0.12) !important;
}
.foto{
    margin-top: 40px !important;
}
.circular {
    width: 130px;
    height: 130px;
    border-radius: 65px;
    -webkit-border-radius: 65px;
    -moz-border-radius: 65px;
    background: url(../img/me256x256.png) no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    background-size:100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -khtml-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.form-hidden-fields{
    display: none;
    visibility: hidden;
}
.form-result-ok,
.form-result-error {
    position: absolute;
    top: 0;
    display: none;
}
.form-result-ok h5,
.form-result-error h5 {
    color: #F5F5F5;
    opacity: 0.5;
}
a:hover .fa-facebook-square{
    color: #3b5998 !important;
}
a:hover .fa-github-square{
    color: #333 !important;
}
a:hover .fa-linkedin-square{
    color: #007bb5 !important;
}
a:hover .fa-lattes-square{
    color: #637fbd;
    background: url(../img/icon_lattes_hover.png) no-repeat;
}
.fa-lattes-square{
    background: url(../img/icon_lattes.png) no-repeat;
    width: 24px;
    height: 24px;
    margin-top: 1px;
    -webkit-transition: background .1s ease-in-out;
    transition: background .1s ease-in-out;
    -moz-transition: background .1s ease;
    -o-transition: background .1s ease;
    -ms-transition: background .1s ease;
}
/*#social li{
    width:50%;
    float:left;
    display:inline;
    margin-bottom: 10px;
}
#social .footer-copyright{
    float: left;
    margin: auto;
}*/