footer .row{
    margin-bottom: 0;
}
.parallax{
    z-index: 0;
}
@media only screen and (min-width: 0) {
    .text_h{
        font-size: 2.0em;
    }
    .text_b{
        font-size: 1.5em;
    }
}
@media only screen and (min-width: 992px) {
    .text_h{
        font-size: 3.0em;
    }
    .text_b{
        font-size: 2.0em;
    }
}
@media only screen and (min-width: 1200px) {
    .text_h{
        font-size: 3.5em;
    }
    .text_b{
        font-size: 2.5em;
    }
}
#skills{
    text-align: justify;
}
#skills hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
}
/* curriculo */
li.curriculo_item{
    margin-top: 10px;
}
.curriculo_instituicao, .curriculo_periodo{
    padding-bottom: 5px;
    color: gray;
}
/* Skills do curriculo */
li .skill{
    margin-bottom: 10px;
}
.skill_grade{
    float: right;
    text-transform: capitalize;
    margin-right: 3px;
}
.skill_name{
    font-style: italic;
}
.skill{
    position: relative;
    background: #d4d4d4;
    height: 7px;
    border-radius: 5px;
    border-left: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin-left: 0px !important;
    display: block;
    width: 100%;
}
.skill_bar{
    height: 4px;
    /*margin: 2px 1px;*/
    border-radius: 2px;
    background: #48b4ea;
    position: absolute;
    box-shadow: 0px 0px 10px 2px rgba(118, 199, 239, 0.4);
}
#social a, #social a:visited{
    opacity: 0.8 !important;
}
#social a:hover{
    opacity: 1 !important;
}
.btn_skills_more{
    margin-top: 40px;
}
.card-reveal{
    text-align: justify;
}
.card-reveal li p{
    margin-left: 8px;
}
.curriculo_artigo_titulo a i{
    opacity: 0.4;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.curriculo_artigo_titulo a:hover i{
    opacity: 1;
    color: #2196F3;
    
}