<md-card ng-click="showDialog($event)">
  <img ng-src="{{ pc.imgurl }}" class="md-card-image" alt="Washed Out">
  <md-card-title>
    <md-card-title-text >
      <span class="md-headline" layout="row"><span>{{ pc.name }}</span> <span flex></span><i class="material-icons right">fullscreen</i></span>
    </md-card-title-text>
  </md-card-title>
  <!-- <md-card-actions layout="row" layout-align="end center">
    <md-button class="md-icon-button" aria-label="Favorite">
      <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Settings">
      <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Share">
      <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
    </md-button>
  </md-card-actions> -->
</md-card>