<!--email_off-->
<div>
  <span ng-show="{{ !isUndefined(classroom_plan) }}"><a href="{{ ::classroom_plan }}">Programa da Disciplina</a></span><br />
  <span><a href="/assets/files/ensino/2017/calendario/calendario2017.pdf">Calendário 2017</a></span><br />
  <span>Horário de Aulas: <a href="/assets/files/ensino/2017/horario/edited_horario_SD_v09_2017_14.02.pdf">Técnicos Integrado e Subsequente</a></span><br />
  <span>Contate-me: <a href="mailto:arthur.assuncao@ifsudestemg.edu.br">arthur.assuncao@ifsudestemg.edu.br</a></span><br />
  <span>Horários de Atendimento: Segunda-feira 16:00 às 18:00 e Quarta-feira 15:30 às 17:30</span>
</div>
<!--/email_off-->
