<main id="conteudo" layout-align="center center">
  <div id="index-banner" class="section no-pad-bot">
    <div class="container">
      <h1 class="main-title text_h center header cd-headline">Desenvolvimento <br /><typer words="[' em AngularJS', ' Web', ' Mobile', ' Front-end']" type-time='150' backspace-time='200' start-delay='1500' highlight-background='#2980b9'></typer></h1>
    </div>
  </div>
  <div flex id="mywork" class="section scrollspy">
    <div id="intro" class="section scrollspy">
      <div class="container">
        <div layout="row" layout-wrap layout-align="center center" layout-padding>
          <div flex-xs="100" flex-sm="100" flex-md flex-gt-md>
            <div class="center promo promo-example"><i class="material-icons text-blue">flash_on</i>
              <h5 class="promo-caption">Acelere o Desenvolvimento</h5>
              <p class="light center promo-description justify">Desenvolvimento de soluções que se adaptam a múltiplos dispositivos, utilizando as mais recentes tecnologias para obter o melhor desempenho com a maior produtividade e seguindo tendências atuais.</p>
            </div>
          </div>
          <div flex-xs="100" flex-sm="100" flex-md flex-gt-md>
            <div class="center promo promo-example"><i class="material-icons text-blue">important_devices</i>
              <h5 class="promo-caption">Totalmente responsivo</h5>
              <p class="light center promo-description justify">Criação de sistemas responsivéis e com uso de técnicas como Mobile First, Desktop First e Offline First para atendender às diversas características dos atuais dispositivos.</p>
            </div>
          </div>
          <div flex-xs="100" flex-sm="100" flex-md flex-gt-md>
            <div class="center promo promo-example"><i class="material-icons text-blue">code</i>
              <h5 class="promo-caption">Código Otimizado</h5>
              <p class="light center promo-description justify">O uso de novas tecnologias, frameworks e pré-processadores com automatizadores, como grunt com postcss, uncss, sass, autoprefixer, uglify etc, alinhados a CSS3 orientado a objetos e HTML5 semântico tornam o código mais limpo e otimizado.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div flex id="work" class="section scrollspy">
      <div class="container">
        <h2 class="header text_b">Alguns projetos que participei</h2>
        <div layout="row" layout-wrap layout-padding layout-align="center center" ng-controller="ProjectsController">
            <project class="wow-nonmobile fadeInUp" flex-xs="100" flex-sm="50" flex-md="50" flex-lg="30" ng-repeat="project in projects.data"
              name="{{ project.name }}" 
              fullname="{{ project.fullname }}" 
              imgurl="{{ project.imgurl }}" 
              imgs="{{ project.imgs }}" 
              url="{{ project.url }}" 
              urlname="{{ project.urlname }}" 
              technologies="{{ project.technologies }}" 
              type="{{ project.type }}" 
              datestart="{{ project.datestart }}" 
              dateend="{{ project.dateend }}" 
              description="{{ project.description }}" 
            ></project>
      </div>
    </div>
  </div>
  <div flex id="skills" class="section scrollspy">
    <div class="container">
      <div layout="row">
        <div class="circular center-align col-centered foto"></div>
      </div>
      <h2 class="header text_b">Habilidades</h2>
      <div layout="column">
        <div layout="row" flex layout-padding class="space-bottom-0" layout-wrap>
          <div class="wow-nonmobile fadeInLeft" flex-xs="100" flex-sm="100" flex-md="50" flex-gt-md="50">
            <div id="cv-formacao">
              <h5 class="cv-section-title">Formação</h5>
              <ul id="lista_formacao" class="list-unstyled" ng-controller="CoursesController">
                <li class="cv-item" ng-repeat="course in courses.data">
                  <course 
                    name="{{ course.name }}"
                    institution="{{ course.institution }}"
                    datestart="{{ course.date_start }}"
                    dateend="{{ course.date_end }}" >
                  </course>
                </li>
              </ul>
            </div>
            <div class="divider"></div>
            <div id="cv-awards">
              <h5 class="cv-section-title">Premiações</h5>
              <ul id="lista_experiencia" class="list-unstyled" ng-controller="AwardsController">
                <li ng-repeat="award in awards.data" class="cv-item">
                  <award name="{{ award.name }}" 
                    place="{{ award.place }}" 
                    url="{{ award.url }}" 
                    year="{{ award.year }}" >
                  </award>
                </li>
              </ul>
            </div>
            <div class="divider"></div>
            <div id="cv-producao">
              <h5 class="cv-section-title">Produções Científicas</h5>
              <ul id="lista_experiencia" class="list-unstyled" ng-controller="PapersController">
                <li ng-repeat="paper in papers.data" class="cv-item">
                  <paper url="{{ paper.url }}" 
                    title="{{ paper.title }}" 
                    authors="{{ paper.authors }}" 
                    confjournal="{{ paper.confjournal }}" 
                    year="{{ paper.year }}" 
                    local="{{ paper.local }}" 
                    qualis="{{ paper.qualis }}" 
                    authormain="{{ paper.authormain }}">
                  </paper>
                </li>
              </ul>
            </div>
            <div class="divider hide-on-med-and-up"></div>
          </div>
          <div hide-sm flex-md="5" flex-gt-md="5"></div>
          <div class="wow-nonmobile fadeInRight" flex-xs="100" flex-sm="100" flex-md="45" flex-gt-md="45">
            <div id="cv-habilidades" ng-controller="SkillsController">
              <ul class="list-unstyled skills">
                <li ng-repeat="skill in skills.data" id="skill_{{ skill.name }}">
                  <skill 
                    name="{{ skill.name }}" 
                    msg="{{ skill.msg }}" 
                    value="{{ skill.value }}" >
                  </skill>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div flex class="col-centered btn-skill-more">
          <md-button id="btn-skill-more" class="md-fab md-primary" aria-label="Use Android">
            <md-icon><i class="material-icons">add</i></md-icon>
          </md-button>
        </div>
      </div>
    </div>
    <div flex="100" id="technologies">
      <div class="container">
        <div layout="row" layout-wrap layout-align="center center">
          <div class="wow-nonmobile fadeIn" flex-xs="100" flex-sm="100" flex-md flex-gt-md aria-label="HTML5">
            <div class="center technology-icon">
              <img src="assets/img/technologies/html5-icon.png" alt="HTML5" />
            </div>
          </div>
          <div class="wow-nonmobile fadeIn" flex-xs="100" flex-sm="100" flex-md flex-gt-md aria-label="AngularJS">
            <div class="center technology-icon">
              <img src="assets/img/technologies/angularjs-icon.png" alt="AngularJS" />
            </div>
          </div>
          <div class="wow-nonmobile fadeIn" flex-xs="100" flex-sm="100" flex-md flex-gt-md aria-label="MEAN">
            <div class="center technology-icon">
              <img src="assets/img/technologies/mean-icon.png" alt="MEAN" />
            </div>
          </div>
          <div class="wow-nonmobile fadeIn" flex-xs="100" flex-sm="100" flex-md flex-gt-md aria-label="ReactJS">
            <div class="center technology-icon">
              <img src="assets/img/technologies/reactjs-icon.png" alt="ReactJS"/>
            </div>
          </div>
          <div class="wow-nonmobile fadeIn" flex-xs="100" flex-sm="100" flex-md flex-gt-md aria-label="GruntJS">
            <div class="center technology-icon">
              <img src="assets/img/technologies/grunt-icon.png" alt="GruntJS"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="parallax" class="parallax-container" ng-controller="ParallaxController">
    <div class="parallax"><img src="assets/img/ufop.jpg" alt="parallax image" du-parallax y="background"/>
    </div>
  </div>
</main>