<footer id="contact" layout-align="center center" layout-padding class="page-footer default_color scrollspy footer">
  <div class="container">
    <div layout="row" layout-wrap layout-margin layout-align="center center">
      <form id="form-contact" name="form-contact" onsubmit="javascript:return false" flex="100" flex-sm="100" flex-md="70" flex-gt-md="70">
        <div layout="row" layout-wrap layout-align="center center">
          <h5 class="white-text center" flex='100'>Contato</h5>
          <div layout="row" layout-wrap flex='100'>
            <!-- Nome-->
            <md-input-container flex="100" flex-gt-sm="50" class="md-icon-float">
              <i class="material-icons prefix icon-large white-text">account_circle</i><label>Nome</label>
              <md-icon class="name">
                </md-icon>
              <input id="form-name" name="name" type="text" ng-model="contato.name">
            </md-input-container>
            <!-- Email-->
            <md-input-container flex="100" flex-gt-sm="50" class="md-icon-float">
              <i class="material-icons prefix icon-large white-text">email</i><label>Email</label>
              <md-icon class="email">
                </md-icon>
              <input id="form-email" name="email" type="email" ng-model="contato.email">
            </md-input-container>
          </div>
          <!-- Mensagem-->
          <md-input-container flex='100' class="md-icon-float">
            <i class="material-icons prefix icon-large white-text">message</i><label>Mensagem</label>
            <md-icon class="message">
              </md-icon>
            <textarea id="form-message" name="message" type="text" ng-model="contato.message"></textarea>
          </md-input-container>
          <!-- Hide-->
          <md-input-container hide flex='100' class="md-icon-float">
            <input id="form-hidden" aria-label="hidden1" type="hidden" name="_subject" value="Contato site" required=""/>
          </md-input-container>
          <md-input-container hide flex='100' class="md-icon-float">
            <input id="form-hidden-text" aria-label="hidden2" type="text" name="_gotcha" style="display:none" required=""/>
          </md-input-container>
          <!-- Botao -->
          <md-button flex="50" id="form-submit" class="md-primary md-raised btn-send" ng-click="submitForm($event)">Enviar  <i class="material-icons white-text">send</i></md-button>

        </div>
      </form>
      <div layout="row" flex="100" layout-wrap hide>
          <div hide flex-xs="100" flex-sm="100" flex-md="50" class="form-result-ok white-text">
              <h1>
                <div class="fa fa-thumbs-o-up white-text"></div>
              </h1>
              <h6>Obrigado.<br/><br/>Sua mensagem enviada e<br/>irei respondê-la em breve.</h6>
            </div>
            <div hide flex-xs="100" flex-sm="100" flex-md="50" class="form-result-error white-text">
              <h1>
                <div class="fa fa-frown-o white-text"></div>
              </h1>
              <h6>Algo deu errado.<br/>Por favor, contate-me em arthur@arthurassuncao.com</h6>
            </div>
      </div>
      </div>
      <!-- Feedback removido -->
      <div id="social" itemscope="" itemtype="http://schema.org/Person" flex-xs="100" flex-sm="100" flex-md="40" flex-gt-md="40" layout="column" class="center-align">
        <div flex="100" class="center-align">
          <link itemprop="url" href="http://arthurassuncao.com/"/>
          <description itemprop="description" href="Arthur Assuncao - Desenvolvedor de sistemas."></description><img itemprop="image" href="assets/img/me256x256.png" class="hide"/>
          <h5 class="white-text">Social</h5>
          <ul class="center" layout-wrap layout="row">
            <li flex><a itemprop="sameAs" href="https://www.facebook.com/arthurassuncao" class="white-text"><i class="small fa fa-facebook-square white-text"></i><span> Facebook</span></a></li>
            <li flex><a itemprop="sameAs" href="https://github.com/arthurassuncao" class="white-text"><i class="small fa fa-github-square white-text"></i><span> Github</span></a></li>
            <li flex><a itemprop="sameAs" href="https://www.linkedin.com/in/arthurassuncao" class="white-text"><i class="small fa fa-linkedin-square white-text"></i><span> LinkedIn</span></a></li>
            <li flex><a itemprop="sameAs" href="http://lattes.cnpq.br/8136835668168874" class="white-text"><i class="small fa fa-lattes-square white-text"></i><span> Lattes</span></a><i class="medium fa fa-lattes-square-preload"></i></li>
            <li flex hide class="esconde hide"><a itemprop="sameAs" href="https://plus.google.com/+ArthurAssuncao11" class="white-text"><i class="small fa fa-google-plus-square white-text"></i><span> Google+</span></a></li>
          </ul>
          <div class="esconde hide">Meu nome é <span itemprop="name"><span itemprop="givenName">Arthur</span><span itemprop="additionalName">Nascimento</span><span itemprop="familyName">Assunção</span></span>.
                      Moro em <span><span itemprop="address"><span>Ouro Preto, Minas Gerais</span>,<span itemprop="nationality">Brasil</span></span></span> e estudo <span itemprop="jobTitle">Mestrado em Ciência da Computação</span> na <span itemprop="affiliation">Universidade de Ouro Preto</span>.
          </div>
        </div>
        <div flex="100" class="center-align footer-cv">
          <p class="no-marg white-text"><a href="assets/files/resume_arthur_assuncao.pdf" target="_blank" class="blue white-text btn-large light"><i class="tiny fa fa-file-pdf-o"></i> Baixar meu <span class="blue-text">Currículo</span></a></p>
        </div>
      </div>
    </div>
  </div>
</footer>


