<md-toolbar layout="row" id="nav_f" flex="100">
    <div class="md-toolbar-tools container" layout="row">
      <h1 class="logo"><a href="#" class="brand-logo">Arthur <span hide show-gt-md>Assunção</span></a></h1>
      <div flex></div>
      <nav id="navbar" hide show-gt-sm>
        <ul>
        <li><a href="/#mywork" data-hash="#page_mywork" class="navbar-item">
          <i class="tiny-force material-icons">work</i> Meu Trabalho
        </a></li>
        <li><a href="/#skills" data-hash="#page_skills" class="navbar-item">
          <i class="tiny-force material-icons">code</i> Habilidades
        </a></li>
        <li><a href="#contact" data-hash="#page_contact" class="navbar-item">
          <i class="tiny-force material-icons">assignment_ind</i> Contato
        </a></li>
        <li><a href="/ensino" data-hash="#ensino" class="navbar-item">
          <i class="tiny-force material-icons">school</i> Ensino
        </a></li>
        </ul>
      </nav>
      <md-button hide-gt-sm flex class="md-icon-button" aria-label="More" ng-click="openSideMenu()">
        <i class="material-icons">more_vert</i>
      </md-button>
    </div>
</md-toolbar>
<div class="menu_left_side" hide-gt-sm>
  <ul>
    <li data-href="/#mywork" class="vertical-text"><i class="tiny-force material-icons">work</i> Meu Trabalho</li>
    <li data-href="/#skills" class="vertical-text"><i class="tiny-force material-icons">code</i> Habilidades</li>
    <li data-href="#contact" class="vertical-text"><i class="tiny-force material-icons">assignment_ind</i> Contato</li>
  </ul>
</div>
<!--side-bar-->
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
  <md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Arthur Assuncao</h1>
  </md-toolbar>
  <md-content layout-padding ng-controller="NavRightController">
    <nav id="navbar-right">
        <ul>
        <li><a href="/#mywork" data-hash="#page_mywork" class="navbar-right-item" ng-click="close()">
          <i class="tiny-force material-icons">work</i> Meu Trabalho
        </a></li>
        <li><a href="/#skills" data-hash="#page_skills" class="navbar-right-item" ng-click="close()">
          <i class="tiny-force material-icons">code</i> Habilidades
        </a></li>
        <li><a href="#contact" data-hash="#page_contact" class="navbar-right-item" ng-click="close()">
          <i class="tiny-force material-icons">assignment_ind</i> Contato
        </a></li>
        <li><a href="/ensino" data-hash="#ensino" class="navbar-right-item" ng-click="close()">
          <i class="tiny-force material-icons">school</i> Ensino
        </a></li>
        </ul>
      </nav>
      <!-- <md-button ng-click="close()" class="md-primary" hide-gt-md>
        Fechar
      </md-button> -->
  </md-content>
</md-sidenav>
