doctype html
html(lang="pt-br", prefix="og: http://ogp.me/ns#")
  include head

  body.scrollspy#top
    #principal.mdl-layout.mdl-js-layout.has-drawer.is-upgraded
        include header
        include content
        include footer
        include scripts

