//-  scripts
script(type="text/javascript", src="assets/js/third_party/plugins.min.js")
script(type="text/javascript", src="assets/js/third_party/angular-bundle.min.js")
script(type="text/javascript", src="assets/js/scripts.min.js")
script(type="application/ld+json").
  "@context" : "http://schema.org",
  "@type" : "Person",
  "name" : "Arthur Nascimento Assunção",
  "url": "http://arthurassuncao.com/",
  "description": "Arthur Assuncao - Desenvolvedor Web.",
  "image": "http://arthurassuncao.com/assets/img/me256x256.png",
  "jobTitle": "Mestrado em Ciência da Computação",
  "affiliation": "Universidade de Ouro Preto",
  "sameAs" : [
       "https://www.facebook.com/arthurassuncao",
       "https://www.linkedin.com/in/arthurassuncao",
       "https://github.com/arthurassuncao",
       "https://plus.google.com/+ArthurAssuncao11"
  ]